* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, 'Raleway', 'Work Sans', sans-serif;
  text-align: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

body a {
  color: #000000;
  text-decoration: none;
}

body .uppercase {
  text-transform: uppercase;
}

body .fa-bars,
body .fa-arrow-right {
  color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0.4em;
  margin: 0.5em;
  font-size: 1.7em;
  text-align: right;
  background-color: #f5f0f6;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 1;
}

body .fa-bars {
  z-index: 11;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body .fa-bars:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 0;
}

body .fa-bars:hover ~ .fa-arrow-right,
body nav:hover ~ .fa-arrow-right {
  opacity: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body nav {
  opacity: 0;
  position: fixed;
  right: 1.5em;
  top: 3.3em;
  z-index: 10;
  font-size: 1.3em;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #f5f0f6;
  -webkit-transform: skewX(-5deg);
          transform: skewX(-5deg);
  height: 0;
  width: 6.5em;
  overflow-y: hidden;
}

@media (hover: none) {
  body nav:not(:focus):hover {
    height: 0;
  }
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body nav ul li {
  width: 100%;
}

body nav a {
  display: block;
  padding: 1em 0.5em;
  color: #000000;
  text-align: right;
  border: 1px solid #f5f0f6;
}

body nav a:hover {
  font-weight: bold;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

body .fa-bars:hover ~ nav,
body nav:hover {
  opacity: 1;
  height: 270px;
  width: 6.5em;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

/* SPLIT BACKGROUND */
.container {
  background: linear-gradient(95deg, transparent, transparent 52.5%, #f5f0f6 52.6%, #f5f0f6), url("./images/stars-landscape.jpg") center;
  background-size: 200% 100%, cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  -webkit-transition: background-position 1.5s ease-out;
  transition: background-position 1.5s ease-out;
}

.inverse-container {
  background: linear-gradient(95deg, #f5f0f6, #f5f0f6 52.5%, transparent 52.6%, transparent), url("./images/stars-landscape.jpg") center;
  background-size: 200% 100%, cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  background-origin: border-box;
  min-height: 100vh;
  width: 100vw;
  -webkit-transition: background-position 1.5s ease-out;
  transition: background-position 1.5s ease-out;
  /* LANDING PAGE */
  /* BIO */
  /* PORTFOLIO */
  /* CONTACT */
}

.inverse-container .name {
  height: 100vh;
  width: 100vw;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  color: transparent;
}

@media (min-width: 400px) {
  .inverse-container .name {
    font-size: 1.1em;
  }
}

@media (min-width: 600px) {
  .inverse-container .name {
    font-size: 1.5em;
  }
}

@media (min-width: 720px) {
  .inverse-container .name {
    font-size: 1.6em;
  }
}

@media (min-width: 900px) {
  .inverse-container .name {
    font-size: 1.8em;
  }
}

@media (min-width: 2560px) {
  .inverse-container .name {
    font-size: 2.1em;
  }
}

.inverse-container .name h1 {
  font-size: 2.5em;
  font-weight: 1000;
  font-family: 'Raleway', 'Work Sans', sans-serif;
}

.inverse-container .name h2 {
  font-size: 2em;
  font-weight: 400;
  color: transparent;
  background-color: transparent;
  display: block;
  font-family: 'Raleway', 'Work Sans', sans-serif;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.inverse-container .name #cta-btn {
  font-size: 1.1em;
  padding: 0;
  display: inline;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 2em auto 0;
  font-weight: bold;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  color: inherit;
  background-clip: border-box;
  background-color: transparent;
}

.inverse-container .name #cta-btn:visited {
  color: inherit;
}

.inverse-container h2 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: inline;
  font-size: 1.2em;
  padding-bottom: 10px;
}

@media (min-width: 1440px) {
  .inverse-container h2 {
    font-size: 2em;
  }
}

@media (min-width: 2560px) {
  .inverse-container h2 {
    font-size: 2.5em;
  }
}

.inverse-container #bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 3em 1em;
  color: #000000;
  min-height: 100vh;
}

@media (min-width: 600px) {
  .inverse-container #bio {
    padding: 10% 4em 1em;
  }
}

@media (min-width: 900px) {
  .inverse-container #bio {
    padding: 10% 6em 1em;
  }
}

@media (min-width: 2560px) {
  .inverse-container #bio {
    padding: 10% 10em 1em;
  }
}

.inverse-container #bio p {
  text-align: center;
  line-height: 1.5em;
  color: #000000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 1em;
  font-weight: 500;
}

@media (min-width: 600px) {
  .inverse-container #bio p {
    font-size: 1.1em;
  }
}

@media (min-width: 1440px) {
  .inverse-container #bio p {
    font-size: 1.2em;
  }
}

.inverse-container #skills {
  padding-bottom: 50px;
}

.inverse-container #skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inverse-container #skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .inverse-container #skills ul li {
    margin: 10px;
  }
}

.inverse-container #skills ul li i,
.inverse-container #skills ul li p {
  display: inline;
  font-size: inherit;
}

.inverse-container #skills ul li img {
  height: 24px;
}

.inverse-container #skills ul li i, .inverse-container #skills ul li img {
  padding-right: 5px;
}

.inverse-container #portfolio .grid-container {
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 1em;
  color: white;
}

@media screen and (orientation: portrait) and (min-width: 720px) {
  .inverse-container #portfolio .grid-container {
    margin: 3em;
    gap: 1.5em;
  }
}

@media screen and (orientation: landscape) and (min-width: 760px) {
  .inverse-container #portfolio .grid-container {
    margin: 2em;
  }
}

@media screen and (orientation: landscape) and (min-width: 960px) {
  .inverse-container #portfolio .grid-container {
    margin: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .inverse-container #portfolio .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .inverse-container #portfolio .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 902px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1440px) {
  .inverse-container #portfolio .grid-container {
    min-height: 611.31px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 3em;
    gap: 2em;
  }
}

.inverse-container #portfolio article {
  position: relative;
  overflow-y: hidden;
}

.inverse-container #portfolio article img {
  width: 100%;
  height: auto;
}

.inverse-container #portfolio article .project-text {
  position: absolute;
  height: 2em;
  top: 0;
  width: 100%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.inverse-container #portfolio article .project-text h3 {
  height: 2em;
  z-index: 2;
  font-size: 1.4em;
}

.inverse-container #portfolio article .project-text p {
  margin: 1em 0.5em 0em;
}

@media (min-width: 500px) {
  .inverse-container #portfolio article .project-text p {
    font-size: 1.1em;
  }
}

@media (min-width: 800px) {
  .inverse-container #portfolio article .project-text p {
    font-size: 1.2em;
    margin: 2em 1em 0em;
  }
}

.inverse-container #portfolio article .project-links {
  position: absolute;
  width: 100%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  overflow-y: hidden;
  bottom: -3em;
  left: 0;
}

.inverse-container #portfolio article .project-links .float-icons {
  color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-size: 2em;
}

.inverse-container #portfolio article:hover .project-links {
  height: 25%;
  bottom: 0;
}

.inverse-container #portfolio article:hover .project-text {
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inverse-container #portfolio article:hover h3 {
  display: none;
}

.inverse-container footer {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 90%;
  color: #000000;
  border-top: 1px solid #000000;
  text-align: center;
}

.inverse-container footer p {
  text-align: center;
  line-height: 1.5em;
  color: #000000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 1em;
  padding: 1em;
  font-weight: 500;
}

@media (min-width: 600px) {
  .inverse-container footer p {
    font-size: 1.1em;
  }
}

@media (min-width: 1440px) {
  .inverse-container footer p {
    font-size: 1.2em;
  }
}

.inverse-container footer h2 {
  text-transform: none;
  color: #000000;
  background-color: transparent;
  padding-top: 1em;
}

.inverse-container footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  list-style: none;
  margin-bottom: 0.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inverse-container footer ul li {
  border-right: 1px solid #000000;
}

.inverse-container footer ul li:nth-child(3) {
  border-right: none;
}

.inverse-container footer ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inverse-container footer ul a p {
  font-size: 0.7em;
  padding: 0px 10px 0px 20px;
  vertical-align: middle;
}

.inverse-container footer ul a i {
  color: #000000;
}

.hidden {
  opacity: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

@-webkit-keyframes show-element {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-element {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.is-visible {
  -webkit-animation: show-element 0.4s;
          animation: show-element 0.4s;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.background-middle {
  background-position: 56% center, center center;
}

.background-left {
  background-position: 100% center, center center;
}
/*# sourceMappingURL=styles.css.map */