$dark-color: #000000; //1c3041
$light-color: #f5f0f6;
$background: url("./images/stars-landscape.jpg");
$transparent: transparent;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, 'Raleway', 'Work Sans', sans-serif;
  text-align: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {

  font-size: 16px;

  a {
    color: $dark-color;
    text-decoration: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  // NAVIGATION

  .fa-bars,
  .fa-arrow-right {
    color: $dark-color;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0.4em;
    margin: 0.5em;
    font-size: 1.7em;
    text-align: right;
    background-color: $light-color;
    transition-duration: 0.2s;
    opacity: 1;
  }

  .fa-bars {
    z-index: 11;
    transition-duration: 0.2s;
  }

  .fa-bars:hover {
    transform: rotate(90deg);
    transition-duration: 0.2s;
    opacity: 0;
    // background-color: $dark-color;
    // color: $light-color;
  }

  .fa-bars:hover~.fa-arrow-right,
  nav:hover~.fa-arrow-right {
    opacity: 1;
    transform: rotate(90deg);
    transition-duration: 0.2s;
  }

  nav {
    opacity: 0;
    position: fixed;
    right: 1.5em;
    top: 3.3em;
    z-index: 10;
    font-size: 1.3em;
    transition-duration: 0.2s;
    background-color: $light-color;
    transform: skewX(-5deg);
    height: 0;
    width: 6.5em;
    overflow-y: hidden;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      li {
        width: 100%;
      }

    }

    a {
      display: block;
      padding: 1em 0.5em;
      color: $dark-color;
      text-align: right;
      border: 1px solid $light-color;

      &:hover {
        font-weight: bold;
        transition-duration: 0.2s;
        border-top: 1px solid $dark-color;
        border-bottom: 1px solid $dark-color;
      }
    }
  }

  .fa-bars:hover~nav,
  nav:hover {
    opacity: 1;
    height: 203px;
    width: 6.5em;
    transition-duration: 0.2s;
  }
}

/* SPLIT BACKGROUND */

.container {
  background: linear-gradient(95deg, transparent, transparent 52.5%, $light-color 52.6%, $light-color), $background center;
  background-size: 200% 100%, cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  transition: background-position 1.5s ease-out;
}

.inverse-container {
  background: linear-gradient(95deg, $light-color, $light-color 52.5%, transparent 52.6%, transparent), $background center;
  background-size: 200% 100%, cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text; 
  background-origin: border-box;
  min-height: 100vh;
  width: 100vw;
  transition: background-position 1.5s ease-out;

  /* LANDING PAGE */
  .name {
    height: 100vh;
    width: 100vw;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: transparent;

    // Microsoft browsers don't support background-clip text, apply transparency for those that do

    // @supports not (-webkit-background-clip: text) {
    //   color: black;
    // }


    @media (min-width: 400px) {
        font-size: 1.1em;
      }

      @media (min-width: 600px) {
        font-size: 1.5em;
      }

      @media (min-width: 720px) {
        font-size: 1.6em;
      }

      @media (min-width: 900px) {
        font-size: 1.8em;
      }

      @media (min-width: 2560px) {
        font-size: 2.1em;
      }

    h1 {
      font-size: 2.5em;
      font-weight: 1000;
      font-family: 'Raleway', 'Work Sans', sans-serif;
    }

    h2 {
      font-size: 2em;
      font-weight: 400;
      color: transparent;
      background-color: transparent;
      display: block;
      font-family: 'Raleway', 'Work Sans', sans-serif;
    }

    #cta-btn {
      font-size: 1.1em;
      padding: 0;
      display: inline;
      text-transform: uppercase;
      padding: 0.5em;
      margin: 2em auto 0;
      font-weight: bold;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      transition-duration: 0.6s;
      color: inherit;
      background-clip: border-box;
      background-color: transparent;

      &:hover {
        letter-spacing: 0.5em;
      }

      &:visited {
        color: inherit;
      }
    }
  }

  h2 {
    text-align: center;
    color: $dark-color;
    margin-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    background-color: $light-color;
    display: inline;
    
    @media (min-width: 400px) {font-size: 1.1em;}
    @media (min-width: 600px) {font-size: 1.5em;}
    @media (min-width: 1440px) {font-size: 2em;}
    @media (min-width: 2560px) {font-size: 2.5em;}
  }

  /* BIO */
  #bio {
    display: flex;
    flex-direction: column;
    padding: 10% 3em 1em;
    color: $dark-color;
    min-height: 100vh;
    // background-clip: border-box;
    // -webkit-background-clip: border-box; 

    @media (min-width: 600px) {padding: 10% 4em 1em;}
    @media (min-width: 900px) {padding: 10% 6em 1em}
    @media (min-width: 2560px) {padding: 10% 10em 1em;}

    // h2,
    p {
      text-align: center;
      line-height: 1.5em;
      color: $dark-color;
      background-color: $light-color;

      // background-clip: border-box;
      // -webkit-background-clip: border-box; 
    }

    // h2 {
    //   @media (min-width: 400px) {font-size: 1.1em;}
    //   @media (min-width: 600px) {font-size: 1.5em;}
    //   @media (min-width: 1440px) {font-size: 2em;}
    //   @media (min-width: 2560px) {font-size: 2.5em;}
    // }

    p {
      font-size: 1em;
      font-weight: 500;
      @media (min-width: 600px) {font-size: 1.1em;}
    }
  }

  #skills {
    padding-bottom: 50px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        display: flex;
        flex-direction: row-reverse;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 2px;
        // background-color: $light-color;
        // background-color: rgba(255, 255, 255,0.8);
        align-items: center;

        @media (min-width: 500px) {
          margin: 10px;
        }

        i,
        p {
          display: inline;
          font-size: inherit;
          // background-color: rgba(255, 255, 255,0.8);
        }

        img {
          height: 24px;
        }

        i, img {
          padding-right: 5px;
        }
      }
    }
  }

  /* PORTFOLIO */
  #portfolio {

    .grid-container {
      display: grid;
      gap: 0.5em;
      grid-template-columns: 1fr;
      margin: 1em;
      color: white;

      @media screen and (orientation: portrait) {

        @media (min-width: 720px) {
          margin: 3em;
          gap: 1.5em;
        }
      }

      @media screen and (orientation: landscape) {

        @media (min-width: 760px) {
          margin: 2em;
        }

        @media (min-width: 960px) {
          margin: 2em;
          grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1024px) {
          grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1024px) {
          grid-template-columns: 1fr 1fr;
          min-height: 902px;
        }

        @media (min-width: 1440px) {
          min-height: 611.31px;
          grid-template-columns: 1fr 1fr 1fr;
          margin: 3em;
          gap: 2em;
        }
      }
    }

    article {
      position: relative;
      overflow-y: hidden;

      img {
        width: 100%;
        height: auto;
      }

      .project-text {
        position: absolute;
        height: 2em;
        top: 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        width: 100%;
        transition-duration: 0.2s;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0.9);

        h3 {
          height: 2em;
          z-index: 2;
          font-size: 1.4em;
        }

        p {
          margin: 1em 0.5em 0em;
          
          @media (min-width: 500px) {
            font-size: 1.1em;
          }
          @media (min-width: 800px) {
            font-size: 1.2em;
            margin: 2em 1em 0em;
          }


        }
      }

      .project-links {
        position: absolute;
        width: 100%;
        transition-duration: 0.2s;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        overflow-y: hidden;
        bottom: -3em;
        left: 0;

        .float-icons {
          color: white;
          transition-duration: 0.2s;
          font-size: 2em; 
        }
      }

      &:hover .project-links {
        height: 25%;
        bottom: 0;
      }

      &:hover .project-text {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:hover h3 {
        display: none;
      }
      
    }
  }

  /* CONTACT */
  footer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    color: $dark-color;
    border-top: 1px solid $dark-color;
    text-align: center;


    h2 {
      text-transform: none;
      color: $dark-color;
      background-color: transparent;
      padding-top: 1em;
    }

    ul {
      display: flex;
      justify-content: center;
      font-size: 2em;
      list-style: none;
      margin-bottom: 0.5em;
      flex-wrap: wrap;

      

      li {
       border-right: 1px solid $dark-color;

       &:nth-child(3) {
        border-right: none;
      }

      }

      

      a {
        display: flex;
        flex-direction: row;

         p {
           font-size: 0.7em;
          //  font-weight: bold;
           padding-right: 10px;
           padding-left: 20px;
           vertical-align: middle;

           
         }

        i {
          color: $dark-color;
        }
      }
    }
  }
}

// SCROLL ANIMATIONS
.hidden {
  opacity: 0;
  transform: translateX(100vw);
}

@keyframes show-element {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.is-visible {
  animation: show-element 0.4s;
  // will-change: translate;
  opacity: 1;
  transition-duration: 1s;
}


// MODAL ANIMATIONS
/* Animate email modal */

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes slide-back {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-back {
  animation-name: slide-back;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.background-middle {
  background-position: 56% center, center center;
}

.background-left {
  background-position: 100% center, center center;
}